@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #141A1A;
}

header{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    padding: 4vh 6vw;
}
header h3{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
}

.logo {
    position: relative;
}

.logo h3 img{
    position: absolute;
    left: -50px;
    top: -5px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    /* padding-right: 5vw; */
}

nav a{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.colorPrincipal{
    color: #0872BF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    width: 88%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 9%;
    position: relative;
}

.hello{
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 400;
}
.saira{
    font-size: 3rem;
    font-family: 'Inter';
}

.ui-ux{
    font-size: 36px;
    font-weight: 300;
    font-family: 'Inter';
}

.textoLargo{
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
}

.hero img{
    position: absolute;
    right: 35px;
}

.fotoMujer{
    top: 76px;
    left: 1050px;
}

.primerButton{
    background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
    border: 2px solid #0872BF;
    box-shadow: 0px 5px 3px rgba(245, 241, 241, 0.253);
    padding: 1.3vh 1.7vw;
    margin-right: 95rem;
    margin-top: 4rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 3vh;
    margin-right: 77rem;
    margin-top: 4rem;
}

.redes h3{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.redes .instagram1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .instagram1 .bi-instagram{
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
}

.redes .linkedin1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .linkedin1 .bi-linkedin{
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
}

.redes .twitter1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter1 .bi-twitter{
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
}

.redes .behance1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .behance1 .bi-behance{
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
}

.hero2{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 8rem;
}

.hero2 h2{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.hero2 h1{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9vh 5vw;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.serviceCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    border: 3px solid #0873bf52 ;
    box-shadow: 0px 4px 20px rgba(93, 173, 236, 0.23);
    padding: 25px;
    border-radius: 42px;
    width: 400px;
    height: 500px;
}

.serviceCard img{
    height: 180px;
}

.serviceCard h3 {
    font-size: 30px;
    font-weight: 400;
}

.recentProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.recentProject h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding-top: 40px;
}

.recentProject h2{
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    padding: 2vh 15vw;
    text-align: center;
}

.screenMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
}

.screenMobile div{
    background-color: #0D1111;
    border-radius: 42px;
    border: 3px solid #0873bf52 ;
    box-shadow: 0px 4px 20px rgba(93, 173, 236, 0.23);
    width: 900px;
    height: 450px;
}

.screenCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenCard2{
    padding-top: 60px;
}

.hero3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
    gap: 6vw;
}

.hero3 .botones{
    display: flex;
    gap: 6vw;
}

.hero3 .segundoBoton{
    color: #FFFFFF;
    background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
    box-shadow: 0px 6px 5px rgba(245, 241, 241, 0.253);
    border: 2px solid #0872BF;
    padding: 1vh 2vw;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.hero3 .tercerBoton{
    color: #FFFFFF;
    background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
    box-shadow: 0px 6px 5px rgba(245, 241, 241, 0.253);
    border: 2px solid #0872BF;
    padding: 1vh 2vw;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.hero3 .testimonials{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 3vh;
    color: #FFFFFF;
}

.testimonials h2{
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 600;    
    text-align: center;
}

.testimonials h1{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.hero4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    color: #FFFFFF;    
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0873bf52 ;
    box-shadow: 0px 4px 20px rgba(93, 173, 236, 0.23);
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 8vh;
    padding-left: 1.5vw;
    padding-right: 3vw;
    position: relative;
}

.box1 img{
    position: absolute;
    top: -60px;
    left: 80px;
    height: 110px;
}

.box1 p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: justify;
    padding-top: 30px;
}

.box1 h1{
    padding-top: 1px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.box1 h3{
    font-size: 13px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0873bf52 ;
    box-shadow: 0px 4px 20px rgba(93, 173, 236, 0.23);
    border-radius: 50px;
    padding-top: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
    position: relative;
}

.box2 img{
    position: absolute;
    top: -60px;
    height: 110px;
}

.box2 p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: justify;
    padding-top: 30px;
}

.box2 h1{
    padding-top: 1px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.box2 h3{
    font-size: 13px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0873bf52 ;
    box-shadow: 0px 4px 20px rgba(93, 173, 236, 0.23);
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 8vh;
    padding-left: 3vw;
    padding-right: 1.5vw;
    position: relative;
}

.box3 img{
    position: absolute;
    top: -60px;
    right: 80px;
    height: 110px;
}

.box3 p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: justify;
    padding-top: 30px;
}

.box3 h1{
    padding-top: 1px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.box3 h3{
    font-size: 13px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.hero5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding-top: 100px;
}

.hero5 img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero5 .cuartoBoton{
    background-color: #424646;
    padding: 2.5vh 1.5vw;
    border-radius: 100px;
    border: 2px solid white;
    color: #FFFFFF;
    font-size: 30px;
}

.hero5 .quintoBoton{
    background-color: #0872BF;
    padding: 2.5vh 1.5vw;
    border-radius: 100px;
    border: 2px solid white;
    color: #FFFFFF;
    font-size: 30px;    
}

.ultimoPort{
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 150px;
}

.hero6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13vw;
    padding-right: 120px;
    margin-top: 60px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}


.primerColumna{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


.segundaColumna{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


.hero6 div h2{
    font-size: 20px;
    font-weight: 600;
}

.hero6 div h3{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}

.tercerColumna{
    margin-left: -80px;
    position: relative;
}

.tercerColumna input{
    margin-top: 30px;
    padding: 2.5vh;
    padding-right: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #2B2E3C;
    border-radius: 8px;
    border: none;
}

.tercerColumna button{
    background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
    border: 2px solid #0872BF;
    box-shadow:  0px 0px 10px 5px rgba(7, 7, 7, 0.164);
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    padding: 1.5vh 2vw;
    position: absolute;
    top: 58px;
    right: -80px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 120px;
    padding-bottom: 20px; 
    color: #0872BF;
    font-size: 22px;
}

.redes2 h2{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;

}

.redes2 .primerHr{
    width: 350px;
    border: 3px solid #8D8080
}

.redes2 .segundoHr{
    width: 350px;
    border: 3px solid #8D8080
}
